.places-card {
  margin: 80px 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .places-card {
    gap: 48px 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places-card {
    gap: 44px 29px;
    margin-top: 73px;
  }
}

@media screen and (max-width: 700px) {
  .places-card {
    grid-template-columns: 1fr;
    gap: 31px;
  }
}

@media screen and (max-width: 320px) {
  .places-card {
    margin-top: 48px;
  }
}
