.page {
  background-color: #2a2c2f;
  font-family: "Inter", sans-serif;
  color: white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
