.photo-grid {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 13px 16px;
  list-style: none;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, auto);
    gap: 11px 14px;
  }
}

@media screen and (min-width: 620px) and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 619px) {
  .photo-grid {
    grid-template-columns: repeat(1, auto);
    gap: 9px;
  }
}
