.lead {
  color: white;
  margin: 0 auto;
  max-width: 984px;
  width: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    width: 90.625%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead {
    max-width: 928px;
  }
}
