.header__lang-switch {
  font-size: 24px;
  line-height: 1.15;
  margin: 0 16px 0 0;
  padding: 0;
  color: white;
  text-decoration: none;
}

.header__lang-switch:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header__lang-switch {
    font-size: 18px;
  }
}
