.lead__title {
  font-size: 96px;
  line-height: 1.05;
  text-align: center;
  font-weight: 900;
  width: min-content;
  margin: 56px auto 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .lead__title {
    margin-top: 48px;
  }
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 520px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}
