.lead__image {
  margin: 64px auto 0;
  max-width: 984px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 54px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
  }
}
