.lead__image {
  margin: 51px auto 0;
  max-width: 984px;
  background-image: url(../../../images/lead-polka.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 62.5%;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 400px) {
  .lead__image {
    margin-top: 40px;
    background-image: url(../../../images/lead-polka-small.jpg);
  }
}
