.intro__text {
  margin: 40px 0 33px 0;
  padding: 0;
  max-width: 690px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}
