.intro {
  color: white;
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 0 0 0;
}

@media screen and (min-width: 1024px) and (max-width: 1270px) {
  .intro {
    padding-top: 98px;
    max-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    padding-top: 88px;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding-top: 64px;
    max-width: calc(100vw - 32px);
  }
}
