.cover__img {
  display: block;
  position: relative;
  width: 100vw;
  height: 62.5vw;
  background-image: url(../../../images/cover-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 245px 0; 
}

.cover__img::before {
  content: "";
  background-color: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.4s linear;
}

.cover__img:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__img {
    padding-top: 195px;
  }  
}

@media screen and (max-width: 1023px) {
  .cover__img {
    padding-top: 115px;
  }  
}

@media screen and (max-width: 767px) {
  .cover__img {
    padding-top: 10vw;
  }  
}
