.cover__img {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1184px;
  height: 740px;
  background-image: url(../../../images/cover-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding: 245px 0 0 0;
  text-decoration: none;
  color: white;
}

.cover__img::before {
  content: "";
  background-color: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.4s linear;
}

.cover__img:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__img {
    height: 62.5vw;
    padding-top: 195px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__img {
    height: 62.5vw;
    padding-top: 117px;
  }
}

@media screen and (max-width: 767px) {
  .cover__img {
    height: 62.5vw;
    padding-top: 10vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__img {
    padding-top: 38px;
  }
}
