.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  max-width: 640px;
  margin: 31px auto 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin-top: 32px;
  }
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    font-size: 24px;
    max-width: 410px;
  }
}

@media screen and (max-width: 520px) {
  .lead__subtitle {
    font-size: 16px;
    max-width: 288px;
    margin-top: 18px;
  }
}
