.cover {
  width: 100%;
  max-width: 1184px;
  padding: 93px 0 0 0;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .cover {
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    padding-top: 63px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    padding-top: 62px;
  }
}
