@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

@import url(../blocks/fading-link/fading-link.css);
@import url(../blocks/list/list.css);

@import url(../blocks/page/page.css);
@import url(../blocks/text-normal/text-normal.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-switches/header__lang-switches.css);
@import url(../blocks/header/__lang-switch/header__lang-switch.css);
@import url(../blocks/header/__lang-switch/_active/header__lang-switch_active.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/lead/__img-container/lead__img-container.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list-item/intro__list-item.css);

@import url(../blocks/tiles/tiles.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/photo-grid/__img/photo-grid__img.css);

@import url(../blocks/places/places.css);
@import url(../blocks/places-card/places-card.css);
@import url(../blocks/places-card/__title/places-card__title.css);
@import url(../blocks/places-card/__url/places-card__url.css);
@import url(../blocks/places-card/__img/places-card__img.css);
@import url(../blocks/places-card/__text-container/places-card__text-container.css);
@import url(../blocks/places-card/__paragraph/places-card__paragraph.css);
@import url(../blocks/places-card/__url-container/places-card__url-container.css);
@import url(../blocks/places-card/__url-caption/places-card__url-caption.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__img/cover__img.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__nav/footer__nav.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
