.footer {
  display: flex;
  max-width: 1184px;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 24px;
  padding-top: 91px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    width: calc(100vw - 96px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    width: calc(100vw - 48px);
    padding-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-left: 16px;
    padding-top: 70px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 69px;
  }}