.intro__title {
  padding: 0;
  margin: 0 auto 0;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 248px;
    margin-left: 0;
  }
}
